<div class="login">
    <form class="custom-form" 
          autocomplete="off"
          [formGroup]="myForm"
          (ngSubmit)="login()" >
      <div class="logo-img">
        <img src="./assets/img/logo_atp.png" class="img"/>
      </div>
      <h1>Sistema de gestión de certificaciones</h1>
      <div class="box-log">
        <label for="">Usuario</label>
        <input
          type="email"
          placeholder="Usuario"
          formControlName="email"
        />
      </div>

      <div class="box-log">
        <label for="">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <button [disabled]="myForm.invalid" type="submit" >Iniciar sesión</button>
    </form>
  </div>