<div class="login">
    <form class="custom-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="logo-img">
        <img src="./assets/img/logo_atp.png" class="img"/>
      </div>
      <h1>Sistema de gestión de certificaciones</h1>
      <div class="box-log">
        <label for="">Usuario</label>
        <input
          type="text"
          
          formControlName="username"
          matInput
          placeholder="Username"
          required
        />
      </div>

      <div class="box-log">
        <label for="">Password</label>
        <input
          type="password"
          formControlName="password"
          matInput
          placeholder="Password"
          required
        />
      </div>
      <button type="submit" >Iniciar sesión</button>
      <!-- <button type="submit" (click)="login()">Iniciar sesión</button> -->
    </form>
  </div>