<div class="main-content">
  <div class="container-fluid">
      <div class="row">

            <div class="col-md-12 text-center">
                <div class="d-inline-block">
                    <h2>Ticket de Blanza detalle</h2>
                    
                    <button type="button"  class="btn btn-danger">Eliminar</button>
                    <button type="button"  class="btn btn-success">Nuevo Item</button>
                    <button type="button"  class="btn btn-warning">Editar</button>
                    <button type="button"  class="btn btn-info">Imprimir</button>
                    <button type="button"  class="btn btn-primary">Finalizar</button>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>5</h2>
                        <p>Registros</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>152,036.00 Kg</h2>
                        <p>Peso bruto origen</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>150,124.15 Kg</h2>
                        <p>Peso bruto ingreso</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>32,158.26</h2>
                        <p>Merma transporte</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>0.23%</h2>
                        <p>Porcentaje merma transporte</p>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <form>
                    <div class="row g-3 align-items-center mb-4">
                      <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Numero de Ticket</label>
                      </div>
                      <div class="col-auto">
                        <input type="text" id="inputPassword6" class="form-control" value="TB" disabled aria-describedby="passwordHelpInline">
                      </div>

                      <div class="col-auto">
                        <input type="text" id="inputPassword6" class="form-control"  [formControl]="name"  aria-describedby="passwordHelpInline">
                      </div>
      
                      <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label">Fecha de creación</label>
                      </div>
                      <div class="col-auto">
                          <input type="datetime-local" class="form-control" id="inputDatetime" >
                      </div>                    
                      
                      <button type="button" (click)="updateName()">Update Name</button>
                    </div>
                      

                      <div class="form-group row">
                        <div class="col-sm-4">
                            <div>
                                <p class="d-inline-block datos-p" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Datos del Transportista</p>
                                <span class="nuevo-style">Nuevo</span>
                            </div>
                            
                            <label for="inputPassword" class="col-sm-2 col-form-label">Código</label>
                            <div class="col-sm-3 d-inline-block">
                              <input type="number" class="form-control" id="inputPassword" placeholder="000012" >
                            </div>

                            <label for="inputPassword" class="col-sm-2 col-form-label">RUC</label>
                            <div class="col-sm-4 d-inline-block">
                              <input type="number" class="form-control" id="inputPassword" placeholder="20202966587" >
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <div>
                                <p class="d-inline-block datos-p" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Datos del conductor</p>
                                <span class="nuevo-style">Nuevo</span>
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Código</label>
                            <div class="col-sm-3 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="45868258" >
                            </div>

                            <label for="inputPassword" class="col-sm-1 col-form-label">DIP</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="number" class="form-control" id="inputPassword" placeholder="01" >
                              
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <div>
                                <p class="d-inline-block datos-p" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Datos del Vehículo</p>
                                <span class="nuevo-style">Nuevo</span>
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Placa</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="AVZ-548" >
                            </div>

                            <label for="inputPassword" class="col-sm-2 col-form-label">Remolque</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="ABZ-518" >
                            </div>

                        </div>
                        
                      </div>  
                      <!-- nuevo -->
                      <div class="row g-3 align-items-center mb-4">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label">Transportista</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" id="inputPassword6" class="form-control" value="TRANSPORTES & NEGOCIACIONES SERLUZ S.R.L." aria-describedby="passwordHelpInline">
                        </div>
                        
                        
        
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Conductor</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" id="inputPassword6" class="form-control" value="ROGER ALEXIS RIVAS SALAS"  aria-describedby="passwordHelpInline">
                        </div>

                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label">Licencia</label>
                        </div>
                        <div class="col-auto">
                          <input type="text" id="inputPassword6" class="form-control" value="X08997130"  aria-describedby="passwordHelpInline">
                        </div>
        
        
                        
                        
                      </div>
                  </form>
              </div>            
            </div>

          

          
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger balanza-color">
                        <h4 class="card-title ">Tabla balanza</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Número de ticket
                                  </th>
                                  <th>
                                    Fecha
                                  </th>
                                  <th>
                                    Transportista
                                  </th>
                                  <th>
                                    Peso bruto origen
                                  </th>
                                  <th>
                                    Merma transporte
                                  </th>
                                  <th>
                                    Peso bruto ingreso
                                  </th>
                                  <th>
                                    % Merma
                                  </th>
                                  <th>
                                    Estado
                                  </th>
                                  <th>
                                    Acciones
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let user of Users">
                                      <td>
                                        {{ user.id }}
                                      </td>
                                      <td>
                                          {{ user.fecha}}
                                      </td>
                                      <td>
                                        {{ user.transportistas}}
                                      </td>
                                      <td>
                                        {{ user.pesoBrutoO}}
                                      </td>
                                      <td>
                                        {{ user.merma}}
                                      </td>
                                      <td>
                                        {{ user.pesoBrutoI}}
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                </tr>

                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>


          <p>Value: {{ name.value }}</p>

          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Soy el Modal
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
