<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="d-inline-block">

                    
                    
                    <button type="submit" routerLink="/balanza" class="btn btn-danger mb-2">Salir</button>
                    <button type="submit"  routerLink="/balanza/detalles"  class="btn btn-success mb-2">Guardar</button>
            </div>
            
        </div>
    </div>
      <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Numero de Ticket</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" id="inputPassword" placeholder="TB" disabled>
                        </div>
                        <div class="col-sm-2">
                            <input type="password" class="form-control" id="inputPassword" placeholder="001-0000001" disabled>
                        </div>

                        <label for="inputPassword" class="col-sm-2 col-form-label">Fecha de creación</label>
                        <div class="col-sm-2">
                          <input type="datetime-local" class="form-control" id="inputPassword" placeholder="TB">
                        </div>
                        
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-4">
                            <div>
                                <p class="d-inline-block datos-p">Datos del Transportista</p>
                                <span class="nuevo-style">Nuevo</span>
                            </div>
                            
                            <label for="inputPassword" class="col-sm-2 col-form-label">Código</label>
                            <div class="col-sm-3 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="000012" >
                            </div>

                            <label for="inputPassword" class="col-sm-2 col-form-label">RUC</label>
                            <div class="col-sm-4 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="20202966587" >
                            </div>

                        </div>
                        <!-- <label for="inputPassword" class="col-sm-1 col-form-label">Ruc</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="inputPassword" placeholder="001-0000001" disabled>
                        </div> -->
                        <div class="col-sm-4">

                            <div>
                                <p class="d-inline-block datos-p">Datos del conductor</p>
                                <span class="nuevo-style">Nuevo</span>
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Código</label>
                            <div class="col-sm-3 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="45868258" >
                            </div>

                            <label for="inputPassword" class="col-sm-1 col-form-label">DIP</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="01" >
                              
                            </div>

                        </div>
                        <div class="col-sm-4">

                            <div>
                                <p class="d-inline-block datos-p">Datos del Vehículo</p>
                                <span class="nuevo-style">Nuevo</span>
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Placa</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="AVZ-548" >
                            </div>

                            <label for="inputPassword" class="col-sm-2 col-form-label">Remolque</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="ABZ-518" >
                            </div>

                        </div>
                        
                      </div>



                      <!-- nuevo -->
                      <div class="form-group row">
                        <div class="col-sm-4">
                            
                            
                            <label for="inputPassword" class="col-sm-2 col-form-label">Transportista</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="TRANSPORTES & NEGOCIACIONES SERLUZ S.R.L." >
                            </div>

                            <label for="inputPassword" class="col-sm-2 col-form-label">Conductor</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="ROGER ALEXIS RIVAS SALAS" >
                            </div>

                        </div>
                        
                        <div class="col-sm-4">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Licencia</label>
                            <div class="col-sm-2 d-inline-block">
                              <input type="text" class="form-control" id="inputPassword" placeholder="X08997130" >
                            </div>                      

                        </div>
                        
                        
                      </div>

                      

                  </form>
            </div>

            
            <!-- <div class="col-md-12">
                <form class="form-inline">  
                    <div class="form-group">  
                      <div class="input-group">  
                        <input class="form-control" placeholder="yyyy-mm-dd"  
                               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">  
                        <div class="input-group-append">  
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>  
                        </div>  
                      </div>  
                    </div>  
                  </form>  
            </div> -->


          
          
      </div>
  </div>
</div>
