<div class="main-content">
  <div class="container-fluid">
      <div class="row">

            <div class="col-md-12 text-center">
                <div class="d-inline-block">
                    <h2>Recepción de Productos</h2>
                    
                    <button type="button" routerLink="/balanza/ticket" class="btn btn-success">Crear ticket</button>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between card-balanza-info">
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>125</h2>
                        <p>Ticket de pesada</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>152,036.00 Kg</h2>
                        <p>Peso bruto origen</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>150,124.15 Kg</h2>
                        <p>Peso bruto ingreso</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>32,158.26</h2>
                        <p>Merma transporte</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>0.23%</h2>
                        <p>Porcentaje merma transporte</p>
                    </div>
                </div>
            </div>
         

            <div class="row g-3 align-items-center mb-4">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Numero de Ticket</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="inputPassword6" class="form-control" value="001-0000001" disabled aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Transportista</label>
                </div>
                <div class="col-auto">
                    <div class="form">
                        <select class="form-select" aria-label=".form-select-sm example">
                            <option selected>TRANSPORTES & NEGOCIACIONES SERLUZ S.R.L.</option>
                            <option value="1">TRANSPORTES & NEGOCIACIONES SERLUZ S.R.L.</option>
                            <option value="2">TRANSPORTES Y LOGISTICA CAMAC E.I.R.L.</option>
                            <option value="3">TRANSPORTE LUCERITO VRAE S.A.C.</option>
                        </select>
                        <!-- <label for="floatingSelect">Works with selects</label> -->
                    </div>
                </div>

                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Fecha de creación</label>
                </div>
                <div class="col-auto">
                    <input type="datetime-local" class="form-control" id="inputDatetime" >
                </div>


                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Estado</label>
                </div>
                <div class="col-auto">
                    <div class="form">
                        <select class="form-select" aria-label=".form-select-sm example">
                            <option selected>Activo</option>
                            <option value="1">Activo</option>
                            <option value="2">Completado</option>
                            <option value="3">Inactivo</option>
                        </select>
                        <!-- <label for="floatingSelect">Works with selects</label> -->
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-success">Aplicar</button>
                </div>
            </div>


          
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger balanza-color">
                        <h4 class="card-title ">Tabla balanza</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Número de ticket
                                  </th>
                                  <th>
                                    Fecha
                                  </th>
                                  <th>
                                    Transportista
                                  </th>
                                  <th>
                                    Peso bruto origen
                                  </th>
                                  <th>
                                    Merma transporte
                                  </th>
                                  <th>
                                    Peso bruto ingreso
                                  </th>
                                  <th>
                                    % Merma
                                  </th>
                                  <th>
                                    Estado
                                  </th>
                                  <th class="text-center">
                                    Acciones
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                            001-0000010
                                      </td>
                                      <td>
                                          01/03/2023 09:24
                                      </td>
                                      <td>
                                        TRANSPORTES & NEGOCIACIONES SERLUZ S.R.L.
                                      </td>
                                      <td>
                                        30,142.08
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                      <td>
                                        $36,738
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td class="acciones-puntos">
                                        ...
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                        001-0000020
                                    </td>
                                    <td>
                                        01/03/2023 09:24
                                    </td>
                                    <td>
                                        TRANSPORTES Y LOGISTICA CAMAC E.I.R.L.
                                    </td>
                                    <td>
                                        31,021.04
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td class="acciones-puntos">
                                    ...
                                  </td>
                                </tr>

                                <tr>
                                    <td>
                                        001-0000030
                                    </td>
                                    <td>
                                        01/03/2023 09:24
                                    </td>
                                    <td>
                                        TRANSPORTE LUCERITO VRAE S.A.C.
                                    </td>
                                    <td>
                                        32,235.00
                                    </td>
                                    <td>
                                        $36,738
                                    </td>
                                    <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td>
                                      $36,738
                                  </td>
                                  <td class="acciones-puntos">
                                        ...
                                  </td>
                                </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
