.card-header.card-header-danger.balanza-color{
    background: linear-gradient(60deg, #0C8117, #0c8106a8);
}

.card.card-productos{
    width: 269px;
    height: 120px;
    border-bottom: 5px solid #50D014;
    border-radius: 5px;
}

.contenedor-productos.text-center h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}