<div class="main-content">
  <div class="container-fluid">
      <div class="row">

            <div class="col-md-12 text-center">
                <div class="d-inline-block">
                    <h2>Listado de Productores</h2>
                    
                    <button type="button" routerLink="/balanza/ticket" class="btn btn-success btn-productor">Registrar Productor</button>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-between card-balanza-info">
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>1000</h2>
                        <p>Productores</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>950</h2>
                        <p>Activos</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>50</h2>
                        <p>Desafiliados</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>800</h2>
                        <p>Hombres</p>
                    </div>
                </div>
                <div class="card card-productos d-flex justify-content-center">
                    <div class="contenedor-productos text-center">
                        <h2>200</h2>
                        <p>Mujeres</p>
                    </div>
                </div>
            </div>
         

            <div class="row g-3 align-items-center mb-4">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Número DNI</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="inputPassword6" class="form-control" value="45868258" disabled aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Productor</label>
                </div>
                <div class="col-auto">
                    <div class="form">
                        <select class="form-select" aria-label=".form-select-sm example">
                            <option selected>ROJAS GUERRERO ROSA MARNELY</option>
                            <option value="1">TRANSPORTES & NEGOCIACIONES SERLUZ S.R.L.</option>
                            <option value="2">TRANSPORTES Y LOGISTICA CAMAC E.I.R.L.</option>
                            <option value="3">TRANSPORTE LUCERITO VRAE S.A.C.</option>
                        </select>
                        <!-- <label for="floatingSelect">Works with selects</label> -->
                    </div>
                </div>

                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Rango de afiliación</label>
                </div>
                <div class="col-auto">
                    <input type="datetime-local" class="form-control" id="inputDatetime" >
                </div>


                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Estado</label>
                </div>
                <div class="col-auto">
                    <div class="form">
                        <select class="form-select" aria-label=".form-select-sm example">
                            <option selected>Activo</option>
                            <option value="1">Activo</option>
                            <option value="2">Completado</option>
                            <option value="3">Inactivo</option>
                        </select>
                        <!-- <label for="floatingSelect">Works with selects</label> -->
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-success">Aplicar</button>
                </div>
            </div>


          
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger balanza-color">
                        <h4 class="card-title ">Tabla balanza</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                    Código Productor
                                  </th>
                                  <th>
                                    Fecha afiliación
                                  </th>
                                  <th>
                                    Apellido Paterno
                                  </th>
                                  <th>
                                    Apellido Materno
                                  </th>
                                  <th>
                                    Nombres
                                  </th>
                                  <th>
                                    DNI
                                  </th>
                                  <th>
                                    Teléfono
                                  </th>
                                  <th>
                                    Ubigeo
                                  </th>
                                  <!-- contando -->
                                  <th>
                                    Género
                                  </th>
                                  <th>
                                    Fec.Nacimiento
                                  </th>   
                                  <th>
                                    Estado civil  
                                  </th>
                                  <th>
                                    Grado instr.
                                  </th>
                                  <th>
                                    Situación
                                  </th>                     
                                  <th class="text-center">
                                    Acciones
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                            001-0000010
                                      </td>
                                      <td>
                                        01/03/2023 09:24
                                      </td>
                                      <td>
                                        ABARCA
                                      </td>
                                      <td>
                                        ROJAS
                                      </td>
                                      <td>
                                        JOSE ALBERTO
                                      </td>
                                      <td>
                                        45842685
                                    </td>
                                    <td>
                                        999458475
                                    </td>
                                    <td>
                                        010512
                                    </td>
                                    <td>
                                        Femenino
                                    </td>
                                    <td>
                                        12/12/1976
                                    </td>
                                    <td>
                                        Soltero
                                    </td>
                                    <td>
                                        Secundaria
                                    </td>
                                    <td>
                                        Activo
                                    </td>
                                    <td class="acciones-puntos">
                                        ...
                                    </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
